h2,h3{
 margin : 0
}

p{
  margin : 0;
  font-size: 18px;
}

.App{
  display : grid;
  gap : 30px;
}
.App-header{
  background-image: url('../assets/background-image@2x.png');
  background-size: cover;
  background-position: top;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80vh;

  opacity: 1;
}

.header-form {
  display: grid;
  
  gap : 20px;
  grid-template-columns: repeat(3,1fr);
  position : absolute;
  top : 43%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #FFFFFF;
  padding : 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px grey;
}

.header-form input{
  padding : 13px;
  border-radius: 5px;
  border: 1px solid #D5D5D5;
}

.header-form button{
  color: white;
  background: #2F6E49 0% 0% no-repeat padding-box;
  
  border : 0;
  border-radius: 5px;
}


.arrow{
  background-image: url("../assets/icon-arrow-2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 15px;
  width: 20px;
  color : white;

  
}
.col-span-1{
  grid-column : span 1;
}
.col-span-2{
  grid-column: span 2;
}
.col-span-3{
  grid-column: span 3;
}


.container{
  display: grid;
  padding : 40px 200px;
  gap : 30px;
}

.values{
  display : grid;
  gap : 30px;
  grid-template-columns: repeat(3, 1fr);
}

.book{
  background: #2F6E49 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1;
height : 40vh;
}